* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial;
  background-image: url("https://evangadi-forum.netlify.app/static/media/bg-svg-f.192609b8540a56a36a47cf339386fe08.svg"); /* Replace with your URL */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Full viewport height */
}


.main-content {
  flex: 1;
  margin-top: 110px;
}

@media (max-width: 768px) {
  .main-content {
    margin-top: 180px;
  }
}
