* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial;
  background: url("./src/assets/EV-background.png") no-repeat center center
    fixed;
  background-size: cover;
}

.main-content {
  flex: 1;
  margin-top: 110px;
}

@media (max-width: 768px) {
  .main-content {
    margin-top: 180px;
  }
}
