.page {
  max-width: 980px;
  margin: 100px auto 24px;
  padding: 0 16px;
}

.backBtn {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #f89b34;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
  transition: background 0.2s;
}

.backBtn:hover {
  background: #f78502;
}

.alert {
  background: #ffe8e8;
  border: 1px solid #ffb4b4;
  padding: 10px;
  border-radius: 8px;
  margin: 10px 0;
}

.questionBox {
  background: #fff;
  padding: 22px;
  border-radius: 12px;
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.08);
  max-width: 850px;
  margin: 20px auto 0;
}

.h2 {
  margin: 14px 0;
  text-align: center;
  border-bottom: none;
}

.title {
  margin: 0 0 6px;
}

.content {
  color: #666;
  margin: 0 0 12px;
}

.list {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #eee;
}

.item {
  display: flex;
  align-items: flex-start;
  gap: 14px;
  padding: 14px 16px;
  border-bottom: 1px solid #eee;
}

.item:last-child {
  border-bottom: none;
}

.avatar {
  width: 60px;
  height: 60px;
  background: linear-gradient(135deg, #f28b1a 0%, #ffad54 100%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0 auto 20px; */
  color: #fff;
  font-size: 28px;
  box-shadow: 0 4px 10px rgba(242, 139, 26, 0.3);
}

.meta {
  flex: 1;
}

.user {
  font-size: 14px;
  color: #444;
  margin-bottom: 6px;
}

.answer {
  font-size: 16px;
}

.card {
  background: #fff;
  padding: 22px;
  border-radius: 12px;
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.08);
  max-width: 850px;
  margin: 20px auto 0;
}

.h3 {
  text-align: center;
  margin: 0;
}

.sub {
  text-align: center;
  color: #666;
  margin: 8px 0 14px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.textarea {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
  font-family: inherit;
}

.btn {
  width: 180px;
  background: #3f5bd9;
  border: 1px solid #3f5bd9;
  color: #fff;
  padding: 12px 14px;
  border-radius: 8px;
  cursor: pointer;
  align-self: flex-start;
}

@media (max-width: 768px) {
  .page {
    margin-top: 120px;
  }

  .questionBox,
  .card {
    padding: 16px;
  }

  .item {
    padding: 12px;
    gap: 10px;
  }

  .avatar {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }

  .h2 {
    font-size: 20px;
  }

  .btn {
    width: 100%;
  }
}
