* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.instructions h2, .ask h2 {
    font-size: 25px;
    margin-top: 30px;
}
.first {
    margin-top: 10px;
}
.ask {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ask p {
    margin-top: 15px;
}
.ask input, .ask textarea {
    width: 70%;
    border-radius: 10px;
    border: rgba(0,0,0,.55) 1.6px solid;
}
.ask input:focus {
    border: black 1.6px solid;
}
.question {
    height: 40px;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 6px;
}
.description {
    height: 160px;
    font-size: 20px;
}
.btn button {
    font-size: 14px;
    background-color: #0d6efd;
    border: none;
    width: 170px;
    height: 30px;
    border-radius: 3px;
    color: #fff;
    margin: 20px 0 0 190px;
}
.btn button:hover {
    background-color: #0b5ed7;
}