body {
  background-image: url("https://evangadi-forum.netlify.app/static/media/bg-svg-f.192609b8540a56a36a47cf339386fe08.svg"); /* Replace with your URL */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Full viewport height */
}
