* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

home-container {
  width: 100%;
}

.home-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  padding-top: 20px;
  padding: 20px;
  border-bottom: 2px solid #ddd;
  margin-left: 50px;
}

.header-actions {
  margin-top: 30px;
}

.ask-btn {
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #0066cc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 100px;
}

.logout-btn {
  padding: 10px 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 100px;
}
