/* Header.module.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #f0eeecea;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 40px;
  flex: 1;
  justify-content: space-evenly;
  /* max-width: 800px; */
}

.logo {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  transition: opacity 0.3s;
  cursor: pointer;
}

.logo:hover {
  opacity: 0.8;
}

.navLink {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  transition: opacity 0.3s;
  cursor: pointer;
}

.navLink:hover {
  opacity: 0.8;
}

.headerRight {
  display: flex;
  align-items: center;
}

.logoutBtn {
  background-color: #5032f7;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.logoutBtn:hover {
  background-color: #646cff;
  transform: translateY(-2px);
}

.logoutBtn:active {
  transform: translateY(0);
}

/* Responsive design */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 15px 20px;
    gap: 15px;
  }

  .navLinks {
    flex-direction: column;
    gap: 15px;
    width: 70%;
  }

  .headerRight {
    width: 100%;
    justify-content: center;
  }

  .logoutBtn {
    width: 100%;
  }
}
