* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    width: 100%;
    height: 70px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 6px rgba(0,0,0,0.1);
    font-family: "Inter", sans-serif;
}

.logo img {
    width: auto;
    height: 25px;
    margin-right: 200px;
}

.text {
    display: flex;
    gap: 10px;
    font-size: 14px;
}
.text a:hover p {
    color: black;
}
.btn button {
    font-size: 14px;
    background-color: #0d6efd;
    border: none;
    width: 140px;
    height: 30px;
    border-radius: 3px;
    color: #fff;
}
.btn button:hover {
    background-color: #0b5ed7;
}